<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988951600645-jqu7jb7rla9bd0a6b05ol7pquk3assui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988951600645-jqu7jb7rla9bd0a6b05ol7pquk3assui</string>
	<key>API_KEY</key>
	<string>AIzaSyC151b8V5n0z7-dnPZVy7VwiWJGzISW0yc</string>
	<key>GCM_SENDER_ID</key>
	<string>988951600645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloudwebrtc.flutterWebrtcDemo</string>
	<key>PROJECT_ID</key>
	<string>ttgo-development</string>
	<key>STORAGE_BUCKET</key>
	<string>ttgo-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988951600645:ios:84c92f9b3ea0cdf435066c</string>
</dict>
</plist>